/* change header colour to grey */
header {
    background-color: grey;
}
/* change background colour to light grey */
body {
    padding-bottom: 70px;
    color: black;
    background-color: lightgrey;
     }
/* change all fonts to "Garamond" */
main {
    font-family: "Garamond", sans-serif; 
    color: black;
}
/* change footer colour to grey */
footer {
    background-color: grey;
}